{% extends 'base.html.twig' %}

{% block title %}Incription sur la liste de visite{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% include("menu/header.html.twig") %}
<div class="example-wrapper">
    
 <h1>Veuillez vous inscrire sur la liste de visite</h1>

   
    {{ form_start(form, {'attr': {'novalidate': 'novalidate','action':path('app_inscription')}}) }}
        {{ form_widget(form) }}
         <button class="btn btn-lg btn-primary"  type="submit" class="btn">Inscription sur la liste</button>
    {{ form_end(form) }} 
    <div class="mt-2">
        Etes-vous medecin ?<a href="{{path('app_login')}}">clicker ici pour vous connecter</a> ou 
        <a href="{{path('app_register')}}">ici pour vous creer un compte</a>
    </div>       
</div>
{% endblock %}
