
    
{% extends 'base.html.twig' %}

{% block title %}Numero sur la liste{% endblock %}

{% block body %}
{% apply inline_css(source("@vendorstyles/bootstrap.min.css"),source("@styles/app.css")) %}
<style>
    .logo {
    max-width: 140px;
    margin-bottom: 1px;
}
</style>
<div class="text-center">
  <img src="{{email.image('@images/tunaweza-logo.png','image/png','tunaweza-logo.png')}}" alt="Logo" class="logo">
</div>
<div class="row-fluid">
    <div class="col-md-9 text-center m-auto">
        
        <h1 class="display-5 m-2 mt-2 tunaweza-text-blue">Bravo vous êtes sur la liste 🎉 ! </h1>
        <h3 class="display-6 m-5 tunaweza-text-blue">
            {{schedule.patient.nom}} {{schedule.patient.prenom}}, vous êtes 
            <br/>
            <br/>
            <strong class="text-white rounded-circle p-4 tunaweza-bg-red" style="color:white;">
                N°{{schedule.arrivalPosition}}
            </strong>
        </h3>
        <strong class="tunaweza-text-red mark small">
        <i>Veuillez patienter dans la salle d'attente, le docteur vous appellera!</i>
        </strong>
        <!--<hr>
        <div>-->
            <!--<img src="{{asset('images/tunaweza-logo.png')}}" alt="logo" title="Tunaweza logo" width="150"/>-->
            {% include("footer/_mini-footer.html.twig") %}
       <!-- </div>-->
        
    </div>
</div>
{% endapply %}
{% endblock %}

